body {
	font-family: georgia, times, serif;
	color: #333;
	font-size: 1.2rem;
	line-height: 1.4em;
	
}

h1 {
	font_size:2rem;
	line-height: 1.3em;
}

p {
	
margin-bottom: 1.6em;	
	
}

.container {
	width: 85%;
	max_width: 850px;
	margin: 0 auto;
} 

.header {
	background: #333;
	color: white;
	padding: 2rem;

	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
}

.header a {
	color: white;
	text-decoration: none;
}

.logo-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: wrap;
}

.logo {
	letter-spacing: 15px;
	font-size: 1.4em;
}

.menu-icon{
	display: none;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation ul li {
	display: inline-block;
}

.navigation ul li a {
	display: 0;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
	border-radius: 5px;
}

.navigation ul li a:hover {
	background: #2f4f4f;
}

.footer {
	background: #BAB6B7;
	padding: 4rem ;
	text-align: center;
	width: 91%;


}

.main {
	padding: 12rem;
}

@media (max-width:  767px){

.menu-icon{
	display: block;
	cursor: pointer;
	padding: 0.5rem 1rem;

}

.navigation{
	width: 100%;
	margin-top: 1rem;
}
.navigation ul{
	display: none;
}

.navigation ul.show{
	display: block;
}

.navigation ul li {
	display: block;
}

.navigation ul li a {
	display: block;
	padding: 0.5rem 0;
	transition: all 0.4s linear;
	border-radius: 5px;
}

.navigation ul li a:hover {
	background: #2f4f4f;
}


}

.unos{
	text-align: center;
}

.pasatim {
	text-align: center;
}
